.home{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.left-h{
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 0;
}

.best-ad{
    margin-top: 4rem;
    background-color: #363d42;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.best-ad span{
    z-index: 1;
}

.best-ad div{
    position: absolute;
    width: 5.4rem;
    height: 80%;
    background-color: var(--orange);
    border-radius: 3rem;
    z-index: 0;
    transition: 2s all;
    animation: moving 10s 1s infinite;
}

@keyframes moving{
    0%{
        transform: translateX(250%);
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(250%);
    }
}



.hero-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
}

.hero-text div:nth-of-type(3){
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: none;
    width: 80%;
}

.figures{
    display: flex;
    gap: 2rem;
}

.figures div{
    display: flex;
    flex-direction: column;
}

.figures div span:nth-of-type(1){
    font-size: 2rem;
    color: white;
}

.figures div span:nth-of-type(2){
    color: var(--gray);
    text-transform: uppercase;
}

.buttons{
    display: flex;
    gap: 1rem;
}
.buttons button:hover{
    cursor: pointer;
}

.buttons button:nth-of-type(1){
    background-color: var(--orange);
    color: white;
    width: 8rem;
}

.buttons button:nth-of-type(2){
    color: white;
    width: 8rem;
    border: 2px solid var(--orange);
    background-color: transparent;
}


.right-h{
    flex: 1;
    position: relative;
    background-color: var(--orange);
}
.right-h a{
    padding: 0.5rem;
   font-weight: bold;
   border: 2px solid white;
   transition: 300ms all;
   text-decoration: none;
}
.right-h .btn{
    position: absolute;
    right: 3rem;
    top: 2rem;
    color: black;
}

.heart{
    background-color: var(--darkGray);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    align-items: flex-start;
    padding: 1rem;
    position: absolute;
    right: 4rem;
    top: 7rem;
    border-radius: 5px;
}

.heart span:nth-of-type(1){
    color: var(--gray);
}

.heart span:nth-of-type(2){
    color: white;
    font-size: 1.5rem;
}

.heart img{
    width: 2rem;
    height: 2rem;
}

.hero-image{
    position: absolute;
    right: 7rem;
    top: 4rem;
    width: 30rem;
}

.hero-blur{
    width: 22rem;
    height: 30rem;
    left: 0;
    top: 2px;
    z-index: 0;
}

@media screen and (max-width: 768px){
    .home{
        flex-direction: column;
    }

    .hero-blur{
        width: 12rem;
    }

    .best-ad{
        margin-top: 0;
        font-size: small;
        align-self: center;
    }

    .hero-text{
        font-size: xx-large;
        align-items: center;
        justify-content: center;
    }

    .hero-text> div:nth-child(3){
        font-size: small;
        font-weight: 200;
        letter-spacing: 1px;
        text-align: center;
    }
 
   .figures div > span:nth-child(1){
        font-size: large;
    }

    .figures div > span:nth-child(2){
        font-size: small;
    }

    .right-h{
        position: relative;
        background: none;
    }

    .heart{
        left: 1rem;
        top: 2rem;
    }

    .hero-image{
        position: relative;
        width: 15rem;
        left: 7rem;
        align-self: center;
        top: 4rem;
    }

    @keyframes moving{
        0%{
            transform: translateX(190%);
        }
        50%{
            transform: translateX(0%);
        }
        100%{
            transform: translateX(190%);
        }
    }


}