.footer{
    position: relative;
}


.footer hr{
    border: 1px solid var(--lightgray);
}

.foot{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem 2rem;
    height: 20rem;
}

.icons{
    display: flex;
    gap: 4rem;
    color: white;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
}

.logo-f{
    display: flex;
    justify-content: center;
}