.testy{
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
}

.left-s{
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: #fff;
}

.left-s>:nth-child(1){
    color: var(--orange);
    font-weight: bold;
}

.left-s>:nth-child(2),
.left-s>:nth-child(3){
    font-weight: bold;
    font-size: 3rem;
}

.left-s>:nth-child(4){
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
}

.right-s{
    flex: 1;
    position: relative;
}

.right-s img{
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;
}

.right-s>:nth-child(1){
    position: absolute;
    width: 17rem;
    height: 20rem;
    right: 9rem;
    top: 0.9rem;
    border: 1px solid var(--orange);
}

.right-s>:nth-child(2){
    position: absolute;
    width: 17rem;
    height: 20rem;
    background: var(--plainCard);
    top: 3rem;
    right: 7rem;
}

.arrows{
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    color: #fff;
    font-size: 1.5rem;
}

.arrows>:nth-child(1),.arrows>:nth-child(2){
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .testy{
        flex-direction: column;
    }

    .left-s>:nth-child(2),
    .left-s>:nth-child(3){
        font-size: xx-large;
    }

    .right-s{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .right-s > div{
        position: relative;
        display: none;
    }

    .right-s> img{
        top: 0;
        right: 0;
        position: relative;
        align-self: center;
    }

    .right-s >:last-child{
        display: flex;
        bottom: 0;
        left: 0;
    }

    .arrows >{
        margin: 1rem;
    }
}